@import url('./__description/about__description.css');
@import url('./__info/about__info.css');
@import url('./__title/about__title.css');

.about {
  font-family: 'GilroyB', Arial, sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  padding: 45px 15px 45px 15px;
  background-color: #FFD914;
}

@media screen and (max-width: 568px) {
  .about {
    padding: 20px 0;
    flex-direction: column;
    text-align: center;
  }
}
