@import url('./__copyright/footer__copyright.css');

.footer {
  font-family: 'GilroyR', Arial, sans-serif;
  flex-shrink: 0;
  padding: 5px 15px 45px 15px;
  display: flex;
}

@media screen and (max-width: 568px) {
  .footer {
    padding: 25px 15px 45px 15px;
    flex-direction: column;
    text-align: center;
  }
}
