@import url('./__place/meeting__place.css');
@import url('./__description/meeting__description.css');
@import url('./__container/meeting__container.css');
@import url('./__coordinator/meeting__coordinator.css');

.meeting {
    font-family: 'GilroyB', Arial, sans-serif;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0px 15px 45px 15px;
    background-color: #fff;
  }
  
  @media screen and (max-width: 568px) {
    .meeting {
      padding: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  }
  