@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');
@import url('./__about/popup__about.css');

.popup {
  font-family: 'GilroyR', Arial, sans-serif;
  display: none;
  padding-block-start: 5%;
  /*align-items: center;*/
  justify-content: center;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
